@model IEnumerable<WebApplication1.Concrete.Genres>

@{
    ViewBag.Title = "Genres";
}

<h2>Genres</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.genre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.genre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.genre_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.genre_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.genre_id })
        </td>
    </tr>
}

</table>
